@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #a55eea;
    --sec-color: #7bed9f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.padding {
    padding: 0 1rem;
}

button {
    cursor: pointer;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .padding {
        padding: 0 1.5rem;
    }
    

    

}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .padding {
        padding: 0 2rem;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .padding {
        padding: 0 2.5rem;
    }

    .main {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

}

@media only screen and (min-width: 1201px) {
    .padding {
        padding: 0 3rem;
    }

    .main {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}
